{% extends "base.html" %}
{% block content %}

<div class="flex-container">
    <div class="flex-item-left">
        {% comment %} <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 pb-4 hero-"> {% endcomment %}
            <h5 class="fw-bold title-bold  hero-title-title pb-1">Profitez de nos offres exclusives et des meilleures ventes !</h5>
              <h1 class="display-5 fw-bold hero-title">Boostez votre marque avec une portée inégalée !</h1>
              
            
              <div class="mt-5 mb-5 position-relative mx-auto">
              <input class="form-control border-2 border-secondary w-75  px-4  rounded-pill l" type="text" placeholder="Search">
              <button type="submit" class="btn  btn-search-bar border-2border-secondary py-3 px-4  rounded-pill text-white h-100" >Search</button>
           
            </div>
            
        
            </div>
    
    {% comment %} </div> {% endcomment %}
    <div class="flex-item-right">
    
        {% comment %} <div class="col-lg-6 col-12 hero-carousel d-flex align-items-center pb-5 mb-5"> {% endcomment %}
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner ms-2">
                <div class="carousel-item active">
                  <img src="assets/images/sacmainr.jpg" class="d-block w-100 carousel-img" alt="sac dame">
                  <div class="carousel-caption d-none d-md-block">
                    <h5><span class="carousel-slide-title-product">First slide label</span></h5>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/images/ima2.jpg" class="d-block w-100 carousel-img" alt="chaussure">
                  <div class="carousel-caption d-none d-md-block">
                    <h5><span class="carousel-slide-title-product">Second slide label</span></h5>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/images/ima2.jpg" class="d-block w-100 carousel-img" alt="chaussure">
                  <div class="carousel-caption d-none d-md-block">
                    <h5><span class="carousel-slide-title-product">Third slide label</span></h5>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
    
    {% comment %} </div> {% endcomment %}
  </div>
{% endblock content %}